apipkg==1.4
appdirs==1.4.3
beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.3
chromedriver==2.24.1
ddt==1.1.1
execnet==1.4.1
idna==2.5
nose==1.3.7
nose-exclude==0.5.0
nose-xunitmp==0.4.0
nosehtmloutput==0.0.1
packaging==16.8
py==1.4.33
pyparsing==2.2.0
pyperclip==1.5.27
pytest==2.9.0
pytest-xdist==1.16.0
requests==2.16.5
sauceclient==1.0.0
selenium==3.4.2
six==1.10.0
urllib3==1.24.2
